body {
  font-family: DIN;
  color: #231f20;
  background-color: #fcfdff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ivy mode;
  color: #0c4da2;
}

h2 {
  font-size: 80px;
  color: #862041;
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 72px;
  }
}

h3 {
  font-size: 56px;
}

@media screen and (max-width: 480px) {
  h3 {
    font-size: 40px;
  }
}

p {
  font-size: 18px;
  line-height: 1.4;
}

@media screen and (max-width: 480px) {
  p {
    font-size: 16px;
  }
}

.ptb {
  padding: 5rem 0;
}

.ptb2 {
  padding: 2rem 0;
}

.vh {
  height: calc( 100vh - 72px);
}

.white {
  background-color: #ffffff;
}

.uk-grid > * {
  padding-left: 0px;
}

.uk-grid {
  margin-left: -0px;
}

.heading {
  margin-bottom: 64px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fcfdff;
  z-index: 9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header_nav {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #0c4da233;
}

header .header_nav li a {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

header .header_nav li a .logo {
  width: 224px;
}

.banner .banner-content {
  padding-top: 10rem;
}

.banner .banner-content .banner-text h1 {
  color: #0c4da2;
  font-size: 104px;
  text-align: center;
}

.banner .banner-content .scroller {
  position: relative;
  margin: 4em 0;
  height: calc( 140px + 2px);
  overflow: hidden;
}

.banner .banner-content .scroller .scroller__line {
  position: absolute;
  width: 1px;
  left: 50%;
  height: 100%;
  top: 0;
  background: #33313033;
}

.banner .banner-content .scroller .scroller__line::after {
  display: block;
  content: ' ';
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 100%;
  -webkit-animation: scroller-line 2s infinite;
          animation: scroller-line 2s infinite;
  background: #333130;
}

.banner .banner-content .scroller .scroller__foot {
  position: absolute;
  width: 48px;
  height: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  background: #33313033;
  margin-top: -1px;
  overflow: hidden;
}

.banner .banner-content .scroller .scroller__foot::before {
  display: block;
  content: ' ';
  position: absolute;
  height: 100%;
  right: 50%;
  left: 0;
  top: 0;
  bottom: 100%;
  -webkit-animation: scroller-foot-1 2s infinite;
          animation: scroller-foot-1 2s infinite;
  background: #333130;
}

.banner .banner-content .scroller .scroller__foot::after {
  display: block;
  content: ' ';
  position: absolute;
  height: 100%;
  left: 50%;
  right: 50%;
  top: 0;
  bottom: 100%;
  -webkit-animation: scroller-foot-2 2s infinite;
          animation: scroller-foot-2 2s infinite;
  background: #333130;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro .image {
  width: 50%;
}

.intro .image img {
  margin-top: 52px;
  height: 620px;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro .desc {
  width: 50%;
  height: 660px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.intro .desc .heading {
  text-align: right;
  max-width: 360px;
  margin-left: calc( 100% - 360px);
  margin-bottom: 4em;
}

.intro .desc .heading h2 {
  color: #862041;
}

.intro .desc .show_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfdff00), color-stop(40%, #fcfdff));
  background: linear-gradient(to bottom, #fcfdff00, #fcfdff 40%);
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  z-index: 1;
}

.intro .desc .show_btn p {
  font-size: 16px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.intro .desc .show_btn p i {
  font-size: 14px;
  margin-right: 8px;
}

.intro .desc .show_btn:hover {
  color: #0c4da2;
}

.intro .desc.display {
  height: 100%;
  overflow: visible;
}

.intro .desc.display .show_btn {
  display: none;
}

.lead_in {
  width: 80%;
  margin-left: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  position: relative;
}

.lead_in:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  background: -webkit-gradient(linear, right top, left top, from(#fcfdff00), color-stop(88%, #fcfdffd9));
  background: linear-gradient(to left, #fcfdff00, #fcfdffd9 88%);
  z-index: 2;
}

.lead_in .lead-text {
  position: absolute;
  width: 56%;
  left: -25%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}

.lead_in .lead-text .edu h3 {
  margin-bottom: 32px;
}

.slick-heading {
  text-align: center;
}

.slick-heading p {
  font-weight: 100;
}

.slick-wrapper {
  margin-top: 80px;
}

.slick-wrapper .slick-slide {
  padding: 0 16px;
}

.slick-wrapper .slick-slide .card-wrap {
  background-color: #c9dff021;
  -webkit-box-shadow: 0 0 6px #c9dff0;
          box-shadow: 0 0 6px #c9dff0;
}

.slick-wrapper .slick-slide .card-wrap .image {
  position: relative;
  overflow: hidden;
}

.slick-wrapper .slick-slide .card-wrap .image img {
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-wrapper .slick-slide .card-wrap .image .overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10%;
  background: #f1f4f5db;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slick-wrapper .slick-slide .card-wrap .image .overlay .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.slick-wrapper .slick-slide .card-wrap .image .overlay .overlay-text ion-icon {
  font-size: 32px;
  color: #0c4da2;
}

.slick-wrapper .slick-slide .card-wrap .image .overlay .overlay-text p {
  font-size: 12px;
  margin: 16px 0;
  text-transform: uppercase;
  color: #0c4da2;
}

.slick-wrapper .slick-slide .card-wrap .desc {
  padding: 22px;
}

.slick-wrapper .slick-slide .card-wrap .desc h4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
  font-size: 24px;
}

.slick-wrapper .slick-slide .card-wrap .desc p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 14px;
}

.slick-wrapper .slick-slide .card-wrap .desc p i {
  margin-right: 8px;
}

.slick-wrapper .slick-slide .card-wrap:hover .image .overlay {
  top: 0;
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.slick-wrapper .slick-slide .card-wrap:hover .desc p {
  color: #0c4da2;
}

.slick-dots {
  text-align: center;
  margin-top: 40px;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 14px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  display: block;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid transparent;
  outline: 0;
  background: #0c4da29e;
  cursor: pointer;
  position: relative;
}

.slick-dots li.slick-active button {
  background: #0c4da2;
}

.slick-arrow {
  position: absolute;
  top: 40%;
  padding: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0 none;
  text-align: center;
  font-size: 24px;
  background: transparent;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(45deg, #0c4da2, #95abbb);
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 99;
  outline: 0;
}

.slick-arrow::before {
  -webkit-transform: scale(0);
          transform: scale(0);
  content: " ";
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #0c4da2, #95abbb);
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.slick-arrow.slick-prev {
  left: 26px;
}

.slick-arrow.slick-next {
  right: 26px;
}

.slick-arrow i {
  position: absolute;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-text-fill-color: transparent;
  background: linear-gradient(45deg, #0c4da2, #95abbb);
  -webkit-background-clip: text;
  background-clip: text;
  top: 16px;
  left: 16px;
  font-size: 18px;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.slick-slider:hover .slick-arrow::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.slick-slider:hover .slick-arrow i {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #ffffff;
  -webkit-text-fill-color: #fff;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .heading {
  width: 50%;
}

.services .heading p {
  width: 440px;
}

.services .components {
  margin-top: 120px;
  width: 50%;
}

.services .components .component_wrap {
  margin-bottom: 32px;
}

.services .components .component_wrap .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .components .component_wrap .title img {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

.services .components .component_wrap .title h4 {
  margin-bottom: 0;
  font-size: 32px;
}

.services .components .component_wrap p {
  font-weight: 100;
  margin: 16px 0;
}

.clients-bg {
  padding: 80px 0;
  background-color: #0c4da2;
}

.clients-bg .clients .heading {
  text-align: center;
  width: 840px;
  margin: auto;
}

.clients-bg .clients .heading h2 {
  color: #95abbb;
  margin-bottom: 32px;
}

.clients-bg .clients .heading p {
  color: #c9dff0;
}

.clients-bg .clients .clients-slider {
  margin-top: 80px;
}

.clients-bg .clients .clients-slider .image {
  width: 192px;
  height: 120px;
  padding: 28px;
  background-color: #ffffff;
}

.clients-bg .clients .clients-slider .image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.testimonials .heading {
  text-align: center;
  width: 720px;
  margin: auto;
}

.testimonials .rev-slider {
  margin-top: 80px;
}

.testimonials .rev-slider .rev-card {
  background: #fff;
  -webkit-box-shadow: 0 8px 30px -7px #c9dff0;
          box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 22px;
  border-radius: 20px;
  border: 0;
  text-align: center;
  cursor: -webkit-grab;
  cursor: grab;
}

.testimonials .rev-slider .rev-card .image {
  width: 120px;
  margin: auto;
  margin-bottom: 24px;
  height: 120px;
}

.testimonials .rev-slider .rev-card .image img {
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 20px -4px #95abbb;
          box-shadow: 0 8px 20px -4px #95abbb;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials .rev-slider .rev-card .body h4 {
  text-align: center;
  margin: 0;
  font-size: 24px;
}

.testimonials .rev-slider .rev-card .body h5 {
  width: 72%;
  margin: 16px auto;
  text-align: center;
  font-family: DIN;
}

.testimonials .rev-slider .rev-card .body p {
  font-weight: 100;
  font-size: 17px;
  margin: 0;
}

.affiliations-wrap .aff-lists li {
  margin-bottom: 24px;
}

.affiliations-wrap .aff-lists li a {
  padding-bottom: 10px;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 24px;
}

.affiliations-wrap .aff-lists li a::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #333130;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.affiliations-wrap .aff-lists li .icon {
  display: inline-block;
  margin-left: 16px;
  margin-bottom: -2px;
  position: relative;
}

.affiliations-wrap .aff-lists li .icon::before {
  -webkit-transform: scale(0);
          transform: scale(0);
  content: " ";
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #0c4da2, #95abbb);
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.affiliations-wrap .aff-lists li .icon i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-text-fill-color: transparent;
  background: linear-gradient(45deg, #0c4da2, #95abbb);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 14px;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.affiliations-wrap .aff-lists li a:hover::after {
  width: 100%;
}

.affiliations-wrap .aff-lists li a:hover .icon::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.affiliations-wrap .aff-lists li a:hover .icon i {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #ffffff;
  -webkit-text-fill-color: #fff;
}

.blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs .bcard {
  width: 48%;
  -webkit-box-shadow: 0 8px 30px -7px #c9dff0;
          box-shadow: 0 8px 30px -7px #c9dff0;
}

.blogs .bcard .bcard-wrap {
  padding: 28px;
}

.blogs .bcard .bcard-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .bcard .bcard-wrap .b-desc {
  padding-top: 24px;
}

.blogs .bcard .bcard-wrap .b-desc h4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
  font-size: 24px;
}

.blogs .bcard .bcard-wrap .b-desc p.desc {
  height: 126px;
  margin: 16px 0;
  font-weight: 100;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
}

.blogs .bcard .bcard-wrap .b-desc .date p {
  font-size: 14px;
  margin: 0;
}

.blogs .bcard .bcard-wrap .b-desc .date p i {
  margin-right: 8px;
}

.blogs .bcard .bcard-wrap:hover .date p {
  color: #0c4da2;
}

.cta {
  position: relative;
  right: calc( -100% + 230px);
  margin-top: 48px;
  margin-bottom: 40px !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1.48px;
  padding: 24px 0;
  text-transform: uppercase;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  white-space: nowrap;
}

.cta::before {
  background: #862041;
  bottom: 0;
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.cta span {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  vertical-align: text-bottom;
  padding-right: 40px;
}

.cta .icon {
  padding-left: 40px;
  -webkit-transition: -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cta .bl {
  background: #862041;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cta .br {
  background: #862041;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cta .bt {
  background: #862041;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cta:hover span {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.cta:hover .icon {
  -webkit-transform: translateX(-24px);
          transform: translateX(-24px);
  color: #862041;
}

.cta:hover:hover .bl, .cta:hover:hover .br {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.cta:hover:hover .bt {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.cta.input {
  padding: 16px 0;
  left: 0;
}

.cta.input::before {
  background: #c9dff0;
}

.cta.input .bl, .cta.input .br, .cta.input .bt {
  background: #c9dff0;
}

footer {
  background-color: #0c4da2;
  background: -webkit-gradient(linear, left top, right top, from(#0c4da2), color-stop(140%, #95abbb));
  background: linear-gradient(90deg, #0c4da2 0%, #95abbb 140%);
}

footer .footer-wrap {
  padding: 112px 0 96px;
  width: 840px;
  margin: auto;
}

footer .footer-wrap .voice {
  text-align: center;
}

footer .footer-wrap .voice h4 {
  text-align: center;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #c9dff0;
}

footer .footer-wrap .contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-wrap .contact .form .form-item {
  width: 48%;
  border-bottom: 1px solid #ffffff66;
  margin-top: 40px;
}

footer .footer-wrap .contact .form .form-item input {
  width: 100%;
  background: 0 0;
  border: none;
  padding-bottom: 12px;
  color: #c9dff0;
  font-size: 16px;
  font-family: inherit;
}

footer .footer-wrap .contact .form .form-item input::-webkit-input-placeholder {
  font-family: inherit;
  color: #c9dff0;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
}

footer .footer-wrap .contact .form .form-item input:-ms-input-placeholder {
  font-family: inherit;
  color: #c9dff0;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
}

footer .footer-wrap .contact .form .form-item input::-ms-input-placeholder {
  font-family: inherit;
  color: #c9dff0;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
}

footer .footer-wrap .contact .form .form-item input::placeholder {
  font-family: inherit;
  color: #c9dff0;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
}

footer .footer-wrap .contact .form .form-item input:focus-visible {
  outline: none;
}

footer .footer-wrap .contact .form .form-item textarea {
  background: transparent;
  border: none;
  resize: none;
  padding-bottom: 8px;
  color: #c9dff0;
  font-size: 16px;
  font-family: inherit;
  width: 100%;
  height: 20px;
  text-overflow: ellipsis;
}

footer .footer-wrap .contact .form .form-item textarea::-webkit-input-placeholder {
  font-family: inherit;
  color: #c9dff0;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
}

footer .footer-wrap .contact .form .form-item textarea:-ms-input-placeholder {
  font-family: inherit;
  color: #c9dff0;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
}

footer .footer-wrap .contact .form .form-item textarea::-ms-input-placeholder {
  font-family: inherit;
  color: #c9dff0;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
}

footer .footer-wrap .contact .form .form-item textarea::placeholder {
  font-family: inherit;
  color: #c9dff0;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
}

footer .footer-wrap .contact .form .form-item textarea:focus-visible {
  outline: none;
}

footer .footer-wrap .contact .form .form-item:last-child {
  width: 100%;
}

footer .footer-wrap .contact .button {
  background: transparent;
  color: #c9dff0;
  border: none;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 1.48px;
  padding: 0 16px;
  text-transform: uppercase;
}

footer .footer-wrap .contact .social .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-wrap .contact .social .social-links i {
  margin: 0 18px;
  font-size: 24px;
  color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .footer-wrap .contact .social .social-links i:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.copyright {
  padding: 16px 0;
  background-color: #ffffff;
}

.copyright p {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
  color: #231f20;
}

@-webkit-keyframes scroller-line {
  0% {
    opacity: 0;
    height: 0%;
  }
  50% {
    opacity: 1;
    height: 99%;
  }
  100% {
    opacity: 0;
    height: 110%;
  }
}

@keyframes scroller-line {
  0% {
    opacity: 0;
    height: 0%;
  }
  50% {
    opacity: 1;
    height: 99%;
  }
  100% {
    opacity: 0;
    height: 110%;
  }
}

@-webkit-keyframes scroller-foot-1 {
  0% {
    opacity: 0;
    left: 50%;
  }
  50% {
    opacity: 1;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

@keyframes scroller-foot-1 {
  0% {
    opacity: 0;
    left: 50%;
  }
  50% {
    opacity: 1;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

@-webkit-keyframes scroller-foot-2 {
  0% {
    opacity: 0;
    right: 50%;
  }
  50% {
    opacity: 1;
    right: 50%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}

@keyframes scroller-foot-2 {
  0% {
    opacity: 0;
    right: 50%;
  }
  50% {
    opacity: 1;
    right: 50%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}
/*# sourceMappingURL=style.css.map */